* {
  font-family: "Gothic A1", sans-serif;
}
* :visited {
  color: black;
}
a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
.title {
  width: 100%;
  height: 120px;
  position: static;
}
.title img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.title h1 {
  width: 500px;
  display: inline;
  line-height: 120px;
  font-weight: bold;
}
.item {
  width: 100%;
  height: 120px;
  line-height: 65px;
}
.item ul {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.item ul li {
  width: 200px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.item ul li:hover {
  text-decoration: underline;
}
.list {
  height: 100%;
}
.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgb(17, 153, 158);
  height: 100%;
}
.list ul li {
  font-size: 30px;
  background-color: rgb(17, 153, 158);
  margin: 0px;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
.list ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.list ul li:hover {
  background-color: rgb(48, 227, 202);
}
aside {
  border: 1px solid black;
  padding-left: 20px;
  height: 100%;
}
iframe {
  width: 100%;
  height: 100%;
}
